* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

:root {
	--bg-color: #170124;
	--text-color: #ffffff;
	--main-color: #5d0c8b;
	--sec-color: #F09317;
}

body {
	min-height: 100vh;
	background: var(--bg-color);
	color: var(--text-color);

}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-color);
	padding: 28px 12%;
	transition: all .50s ease;
}


.logo, .main{
	display: flex;
	align-items: center;

}

.logo i {
	color: var(--sec-color);
	font-size: 40px;
	margin-right: 3px;
}

.logo span {
	color: var(--text-color);
	font-size: 2rem;
	font-weight: 700;
}

.navbar {
	display: flex;
}

.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0 ;
	margin: 0px 30px;
	transition: all .50s ease;
}

.navbar	a:hover, .navbar a.active {
	color: var(--sec-color);
}

.main a{
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}

.espaciador {
	height: 10.5vh;
}

.chiquito {
	height: 4vh;
}

video {
	max-width: 100%;
}

.video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 3vh;
}

.container-container {
	display: flex;
	justify-content: center;
}

.card-container {
	max-width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	column-gap: 50px;
	transition: all .50s ease;
	margin-bottom: 5vh;
}

.card {
	max-width: 1280px;
	background-color: var(--main-color);
	width: 270px;
	height: 400px;
	margin: 10px;
	color: var(--sec-color);
	box-shadow: 0 5px 15px 0px rgba(255, 200, 255,0.3);
	border-radius: 15px;
	transition: all .50s ease;
}

.card-image {
	border-radius: 10px 10px 0px 0px;
	background-color: var(--sec-color);
	height: 200px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-size: auto;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card h2, p {
	padding: 10px;
}

.card-1 {
	background-image: url('https://static.wixstatic.com/media/e16f80_e3f996442ea14ef3bdc7f1c9711bee83~mv2.png/v1/fill/w_226,h_273,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e16f80_e3f996442ea14ef3bdc7f1c9711bee83~mv2.png');
}

.card-2 {
	background-image: url('https://static.wixstatic.com/media/e16f80_c4107afe9cac4e0bade3e5137d2dd51b~mv2.png/v1/fill/w_177,h_339,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e16f80_c4107afe9cac4e0bade3e5137d2dd51b~mv2.png');
}

.card-3 {
	background-image: url('https://static.wixstatic.com/media/e16f80_deddf860d7f74572915bbc92829756bc~mv2.png/v1/fill/w_169,h_279,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e16f80_deddf860d7f74572915bbc92829756bc~mv2.png');
}

.card-4 {
	background-image: url('https://static.wixstatic.com/media/e16f80_4ba9f7f6322142c68a362c0b5172a636~mv2.png/v1/fill/w_226,h_273,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Cibersecurity.png');
}

.card:hover {
	box-shadow: rgba(255, 200, 255, 0.25) 0px 50px 100px -20px;
	transform: translatey(0px);
	margin-top: -5px;
	transform: scale(1.05);

}

.main-container {
	width: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap ;
}

.columna {
	justify-items: center;
	padding: 5vh;
	width: auto;
	max-width: 100vh;
}

.columna img {
	max-width: 90%;
}

.carousel {
	display: flex;
	justify-content: center;
	aspect-ratio: 16/9;
	margin-top: 5vh;
	transition: all .50s ease;
	width: 90vh;
	max-width: 90vh;
}

.carousel img{
	aspect-ratio: 16 / 9;
	transition: all .50s ease;
	object-fit: cover;
}

.carousel img:hover {
	box-shadow: rgba(255, 200, 255, 2) 0px 10px 20px, rgba(255, 200, 255, 10) 0px 6px 6px;
}

.calendario {
	margin-top: 10vh;
	aspect-ratio: 186/267;
	transition: all .50s ease;
	width: 90vh;
	max-width: 90vh;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-weight: 900;
}

.la-upy-master {
	display: flex;
	justify-content: center;
}


.la-upy-container {
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2vh;
	padding: 1em;
}

.texto {
	background-color: var(--sec-color);
	border-radius: 15px;
	display:  flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.texto h2{
	padding: 1vh;
}

.texto p{
	padding-top: none;
	margin-top: none;
}

.la-upy-container div {
	color: white;
	max-width: 100%;
	min-width: 20vh;
	margin: 1vh;
	display: flex;
	justify-content: space-around;
}

.la-upy-container div p{
	padding: 3vh;
	background-color: var(--sec-color);
	font-size: 1.25em;
	margin: 1em 1em;
}

.la-upy-container div img {
	padding: 10px;
	aspect-ratio: 16/9;
	max-width: 60%;
}


.alumnos-master{
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.alumnos-master section{
	max-width: 90%;
	display: flex;
	justify-content: center;
}

.cajadecajitas {
	display: flex;
	justify-content: center;
	border: solid var(--sec-color);
}

.


.cajita {
	display: grid;
	justify-content: space-between;
	align-items: center;
	border: solid var(--sec-color) 3px;
	width: 40%;
	padding: 5px;
	margin: 10px;
	background-color: var(--main-color);
	border: solid var(--sec-color); 5px;

}

.cajita h4 {
	margin: 1vh;
	justify-items: center;
	align-items: center;
	border: solid var(--sec-color); 5px;
}

/*esto tiene que estar hasta abajo para que todo lo que queramos que se modifique según el tamaño aplique*/

@media (max-width: 1280px){
	header {
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px; 


	}
	.card-container {
		flex-wrap: wrap;
		column-gap: 20px;
	}
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}

	.navbar {
		position: absolute;
		top: 110%;
		right: -100%;
		width: 270px;
		height: 29vh;
		background: var(--sec-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 11px 0;
		margin-top: 6px;
		padding: 0px 25px;
		transition: all .50s ease;
	}

	.navbar a:hover{
		color:var(--main-color);
		transition: translateY(5px);
	}
	.navbar a.active {
		color: var(--main-color);
	}
	.navbar.open{
		right: 2%;
	}
	.card-container {
		column-gap: 15px;
	}
}

.bold {
	font-weight: 800;
}

footer {
	display: flex;
	justify-content: center;
	background-color: white;
	color: var(--main-color);
}

footer p{
	display: flex;
	justify-content: center;
}

footer a {
	color: var(--main-color);
}